@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');


/*NAVBAR+HEADER+FOOTER*/
a{
    font-weight: 900;
}
li>a:hover{
    background-color: hsla(45,90%,50%,1);
    border-radius: 2rem;
}
header{
    padding: 3rem;
    min-height: 40%;
    background-image:linear-gradient(hsla(35,100%,80%,1), hsla(1,0%,100%,1));
    display: flex;
    justify-content: center;
}
#navbar{
    position:fixed;
    top: 0rem;
    transition: transform 0.3s;
    z-index: 15;
}
.title1{
    position: absolute;
    margin-top:-195rem;
    padding-left: 39vw;
    font-size: 3.7rem;
    font-family: 'dancing script';
}
img{
    height: 12vw;
    width: 12vw;
    display: block;
}
h1{
    font-size: 10vw;
}
@media only screen and (max-width: 400px){
    h1{
        font-size: 7vw;
    }
    header{
        display: flex;
        align-items: center;
    }
}
.size-1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.border-3{
    border-width: 5px !important;
}
main{
    margin-top: 91px;
}
#canvas_container {
    width: 100%;
    z-index: 0rem;
    background-color: #ffc107;
}
@media only screen and (max-width: 743px){
    main{
        margin-top:158px;
    }
    #canvas_container {
        margin-top:158px;
    }
}
@media only screen and (max-width: 575px){
    main{
        margin-top: 91px;
    }
    #canvas_container {
        margin-top: 91px;
    }
}
@media only screen and (max-width: 445px){
    main{
        margin-top: 91px;
    }
    #canvas_container {
        margin-top: 91px;
    }
}
@media only screen and (max-width: 435px){
    main{
        margin-top: 101px;
    }
    #canvas_container {
        margin-top: 101px;
    }
}
@media only screen and (max-width: 419px){
    main{
        margin-top: 131px;
    }
    #canvas_container {
        margin-top: 131px;
    }
}

.icons{
    padding: 5rem;
}
a{
    color:black;
}
footer>div>a:hover{
    color:black;
}
.b2t{
    margin-top: 10rem;
}
.instagram:hover{
    color: #9b6954;
}
.twitter:hover{
    color: #38A1F3;
}
.linkedin:hover{
    color: #0077B5;
}

/*HOME*/
.title{
    padding-top: 20rem;
    font-family: 'dancing script';
    font-size: 5rem;
}
.toptext1{
    margin-top: 30rem;
}
.toptext2{
    margin-top: 25rem;
}
.toptext3{
    margin-top: 33rem;
}
.toptext4{
    margin-top: 25rem;
}
.me{
    height: auto;
    width: 14rem;
    margin: 0 auto;
    margin-top: 15rem;
}
.thatsme{
    width: 400px;
    height: auto;
    transition: transform 400ms;
    transform: translateX(25rem);
    transition-timing-function: cubic-bezier(.27,.74,.15,.81);
    margin-right: 3rem;
    margin-top: 5rem;
}
.textlink{
    font-weight:normal;
    transition: transform;
}
.textlink:hover{
    text-decoration: none;
    color: black;
    text-shadow: 0px 0px 4px black;
}

@media only screen and (max-width: 1053px){
    .title{
        padding-top: 17rem
    }
    .thatsme{
        width: 200px;
        margin-top: 10rem;
    }
    .me{
        width: 10rem; 
        margin-top: 20rem;
    } 
    .toptext1{
    margin-top: 24rem;
    }
    .toptext2{
        margin-top: 28rem;
    }
    .toptext3{
        margin-top: 27rem;
    }
    .toptext4{
        margin-top: 23rem;
    }
}

@media only screen and (max-width: 586px){
    .thatsme{
        width: 100px;
        margin-top: 15rem;
    }
    .me{
        width: 8rem; 
        margin-top: 14rem;
    }  
    .toptext1{
    margin-top: 24rem;
    }
    .toptext2{
        margin-top: 26rem;
    }
    .toptext3{
        margin-top: 22rem;
    }
    .toptext4{
        margin-top: 23rem;
    }    
}
@media only screen and (max-width: 465px){
    .title{
        font-size: 3rem;
        margin-top: -4rem;
    }
    .sectitle{
        font-size: 1rem;
    }
    .toptext1{
    margin-top: 28rem;
    }
    .toptext2{
        margin-top: 22rem;
    }
    .toptext3{
        margin-top: 25rem;
    }
    .toptext4{
        margin-top: 26rem;
    } 
}



/*ABOUT*/
.sp{
    width: 150px;
    height: auto;
}
html,.aboutmain{
    width:100vw;
    overflow-x: hidden;
}
.bgy:nth-last-of-type(even){
    background-color: hsla(45,100%,50%,0.3);
}
.bgy{
    box-shadow: 0px 20px 20px lightgrey;
    height: 30vw;
    display: flex;
    justify-content: space-around;
}
.paragraph{
    width: 70vw;
    margin: auto;
    padding: 0rem 6rem;
}
.image{
    flex: auto;
    width: 30vw;
    height: auto;
}
.images2{
    width: 50%;
}
@media only screen and (max-width:974px){
    .paragraph{
        font-size:0.5rem;
        padding: 0rem 1rem;
    }
}
@media only screen and (max-width:450px){
    .paragraph{
        font-size:0.3rem;
        padding: 0rem 1rem;
    }
}

/*SKILLS*/
td{
    background-color: hsla(45,100%,50%,0.3);
    padding: 1rem;
    box-shadow: 5px 5px 10px;
    text-align: justify;
}
td:nth-of-type(odd){
    border-right: 10px solid hsla(45,100%,51.4%,0.3);
}
td:nth-of-type(even){
    border-left: 10px solid hsla(45,100%,51.4%,0.3);
}
table{
    width: 90%;
}
i{
    margin: 0.5rem;
}

@media only screen and (min-width: 768px) {
    tr:nth-of-type(even)>td:nth-of-type(even){
        border-right: 10px solid hsla(45,100%,51.4%,0.3);
        border-left: none;
    }
    tr:nth-of-type(even)>td:nth-of-type(odd){
        border-left: 10px solid hsla(45,100%,51.4%,0.3);
        border-right: none;
    }
    
}





/*PORTFOLIO*/

.cards{
    width: 80%;
}
.card-body{
    padding: 0rem 0rem 5rem;
    
}
.card-img-top{
    height: 200px;
    margin-top:0rem;
    box-shadow: 0px 0px 10px black;
    border-radius: 1rem;
}
.overlay {
    display:inline-block;
    position: relative;
    height: 200px;
    margin-top:1rem;
    filter: blur(1.5px);
    border-radius: 1rem;

    
}
.overlay:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: black;
    opacity: 0.5;
    border-radius: 1rem;
}
.overlay:hover:after {
    opacity: 0;
}
.overlay:hover{
    
    filter: blur(0px)
}
.porfrow{
    overflow: hidden;
    height: 100%;
}
@media only screen and (max-width: 575px){
    .overlay:after{
        opacity:0;
    }
    .overlay{
        filter: none;
    }
}




/*CONTACT*/
.alert{
    color: red;
    font-size:0.7rem;
}
form{
    width:80%;
}
.graph{
    visibility: hidden;
}
@media only screen and (min-width: 810px){
    fieldset{
        width: 50%;
        padding: 1rem;
    }
    fieldset:nth-child(odd){
        float: left;
    }
    button{
        margin-top: 6rem;
    }
    .alert{
        font-size:1rem;
    }
    .graph{
        visibility: visible;
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 10px black;
        margin: 3rem 0;
    }
}






/*IPHONE ACCESSABILITY*/
@media only screen and (max-width: 414px){
    .toptext1{
        margin-top: 27rem;
    }
    .toptext2{
        margin-top: 24rem;
    }
    .toptext3{
        margin-top: 23rem;
    }
    .toptext4{
        margin-top: 25rem;
    }
}